<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="com.wkd.dev.entity.Record" alias="Record"/>
        <typeAlias type="com.wkd.dev.entity.Student" alias="Student"/>
        <typeAlias type="com.wkd.dev.entity.Subject" alias="Subject"/>

        <typeAlias type="java.util.Map" alias="Map"/>
    </typeAliases>

</configuration>