<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excel Upload</title>
</head>
<body>
    {{> layout/header}}

    <h1>Excel Upload</h1>
    <form action="/api/excel/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept=".xls, .xlsx">
        <button type="submit">Upload</button>
    </form>
</body>
</html>