<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INDEX</title>
</head>
<body>
    {{> layout/header}}

    <h1>INDEX PAGE</h1>

    <div>
        <a href="feat/upload/excel">학생 수강선택 엑셀 업로드 바로가기</a>
    </div>
</body>
</html>